/*--------------------------------------------------------------
## Grid Flex
--------------------------------------------------------------*/

.fullGrid {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: center;
}
.fullGrid > * {
	flex: 100%;
}

@media only screen and (min-width:820px) {
	.fullGrid > * {
		flex: 50%;
		max-width: 50%;
	}
	.revGrid {
		flex-direction: row-reverse;
	}

	/** Définition des grilles
	  * --------------------------------------------- */
	.grid20 { flex: 20%; max-width: 20%; }
	.grid25 { flex: 25%; max-width: 25%; }
	.grid30 { flex: 30%; max-width: 30%; }
	.grid33 { flex: calc(100%/3); max-width: calc(100%/3); }
	.grid40 { flex: 40%; max-width: 40%; }
	.grid60 { flex: 60%; max-width: 60%; }
	.grid66 { flex: calc(100%*2/3); max-width: calc(100%*2/3); }
	.grid75 { flex: 75%; max-width: 75%; }
	.grid80 { flex: 80%; max-width: 80%; }
	.grid100 { flex: 100%; max-width: 100%; }
}
