/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/

body.page {
  background-color: $bgColor;
}

.entry-content {
  ul {
    padding: 0;

    li {
      position: relative;
      list-style: none;
      padding-left: 32px;
      margin: 32px 0 32px 0;
      font-size: 1.25rem;
      line-height: 1.875rem;
      color: $titre;

      &:before {
        content: ">";
        font-size: 1.25rem;
        color: $vert;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
.header {
  padding: 10rem 0;
  background: $jaune;
}

.baseline {
  font-size: 2rem;
  line-height: 3rem;
  padding: 2rem 0 0 0;
}

.wp-block-button__link {
  padding: 16px;
  margin: 2rem 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: inline-block;
  border-bottom: none;

  &:hover {
    border-bottom: none;
  }
}

.entry-content p a {
  color: $titre;
}


.newsletter {
  background-color: $titre;
  display: flex;
  flex-flow: column;
  padding-bottom: 40px;
  
  h2 {
    color: $jaune;
    margin-top: 48px;
  }

  h2.widgettitle {
    margin: 0;
  }
}