/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
	clear: both;
	display: block;
	padding: 50px 20px;
	color: $beige;
	background-color: $footerColor;
}

.site-footer .contentFooter {
	margin-left: auto;
	margin-right: auto;
	max-width: 580px;
	justify-content: space-between;
	font-size: 0.875rem;

	h2 {
		color: $beige;
		font-size: 2rem;
		line-height: 2.1rem;
		margin-top: 0;
	}

	p {
		line-height: 1.3125rem;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {margin: 8px 0;
			a {
				color: $beige;
			}	
		}
	}
}
