/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*
 * Header basics
 ------------------------------------------------------------------------------*/
#header {
	position: fixed;
	top: 0;
	z-index: 20;
	width: 100%;
	height: $header_height_mobile;
	display: flex;
	justify-content: space-between;

	.header-inner {
		position: relative;
		height: 100%;
	}

	a {
		border-bottom: none;
	}
}

.site-header {
	margin-left: 10%;
	max-width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 67px;
}

.site-branding {
	a {
		display: inline-block;
		//margin: 2.5rem 0 0 2.5rem;
	}
}


@media only screen and (max-width:800px) {

	#site-navigation {
		display: none;
	}
	
}

@media only screen and (max-width:820px) {

	#primary .header {
		padding: 3rem 0;
	}

	#primary .header .wp-block-group__inner-container {
		padding: 0 20px;
	}
}
.home, .page-id-18 {
	.main-navigation {	
		.linkedin, .tel {
			svg {
				stroke: #fff;

				path {
					fill: #fff;
					stroke: none;
				}
			}
	
			&:hover svg {
				fill: $textColor;
				stroke: $textColor;
			}

			&:hover svg path {
				fill: $textColor;
			}
		}
	}	
} 


.main-navigation {
	display: flex;

	.tel {
		margin: 2.5rem 20px 0 8px;
	}
	.linkedin {
		margin: 2.5rem 10px 0 8px;
	}

	.linkedin, .tel {
		display: block;
		
		svg {
			stroke: $textColor;
			
			path {
				fill: $textColor;
				stroke: none;
			}

			circle:nth-child(2) {
				fill: white;
			}
		}

		&:hover svg {
			fill: $firstColor;
			stroke: $firstColor;
		}

		&:hover svg path{
			fill: $firstColor;
		}
	}

	.primary-menu {
		position: relative;
		width: 3em;
		margin-left: 20px;
	} 
}

.home .main-navigation, .page-template-page-methode .main-navigation {
	.linkedin, .tel {
		svg {
			circle:nth-child(2) {
				fill: none;
			}
		}
	}
}			

@media screen and (min-width: 820px) {
	#header {
	  height: $header_height;
	}
}

@media screen and (max-width: 819px) {
	#header  {
		height: 90px;
		background: #fff;
	}

	.main-navigation {
		display: flex;
	
		.tel {
			margin: 1rem 20px 0 8px;
		}
		.linkedin {
			margin: 1rem 10px 0 8px;
		}
	}

	.home #header {
		background: transparent;
	}

	.page-template-page-methode {

		.site-branding {
			a  {
				display: inline-block;
				width: 80px;
				height: 80px;
				
				svg {
					display: none;
				}
				background: url(./assets/images/logo-agence-insitu-color.svg) no-repeat;
			  }
		}

		.main-navigation {	
			.linkedin, .tel {
				svg {
					stroke: $textColor;
	
					path {
						fill: $textColor;
						stroke: none;
					}
				}
		
				&:hover svg {
					fill: $firstColor;
					stroke: $firstColor;
				}
	
				&:hover svg path {
					fill: $firstColor;
				}
			}
		}	
	} 

	.site-branding a {
		margin: 0.3rem 0 0 2.5rem;
	}

	.site-branding a svg {
		width: 80px;		
	}

	.home .site-branding a {
		margin: 1rem 0 0 1.5rem;

		svg {
			width: 130px;
		}
	}
}


/*
 * Logo
 ------------------------------------------------------------------------------*/

img.logo path {
	fill: #000;
}

#logo_bloc {
  display: inline-block;
}
#logo_link {
  display: block;
  max-width: 150px;
  padding: 3px 0;
  border: 0;
}

@media screen and (min-width: 820px) {
	#logo_link {
	  max-width: 150px;
	  padding: 7px 10px;
	}
}


/*
 * Menu accessible
 ------------------------------------------------------------------------------*/
.print-hidden {

	a {
		position: fixed;
		top: 0;
		left: 50%;
		z-index: 900;
		transform: translateX(-50%);
		display: inline-block;
		background: #FFF;
		height: 0;
		overflow: hidden;
		border: 0;

	&:focus {
    	padding: 5px 10px;
		height: 30px;
		}
	}

}





/*
 * Bouton toggle menu
 ------------------------------------------------------------------------------*/
#toggle-menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: $header_height_mobile;
	text-align: center;
	outline: none;
	transition: background .4s ease-in-out,
						  right .4s ease-in-out;

	strong {
		position: absolute;
    	bottom: 10px;
    	left: 0;
    	right: 0;
		color: $menuTextColor;
    	text-transform: uppercase;
    	font-size: .7rem;
	}

	span, &:before, &:after {
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 30px;
		height: 5px;
		background: $menuTextColor;
		transition: all .4s ease;
	}
	&:before {
		content: '';
		top: 10px;
	}
	&:after {
		content: '';
		top: 30px;
	}

	&.toggled-on {
		background: $menuTextColor;
		right: 250px;

		strong {
			color: $menuColor;
		}
		span {
			opacity: 0;
		}
		&:before {
			top: 20px;
			background: $menuColor;
			transform: rotate(45deg);
		}
		&:after {
			top: 20px;
			background: $menuColor;
			transform: rotate(-45deg);
		}
	}
}

@media screen and (min-width: 820px) {
	#toggle-menu {
		display: none;
	}
}






/*
 * Menu mobile active
 ------------------------------------------------------------------------------*/
#hoverMenu {
	background: rgba(#000, .8);
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .4s .2s ease-in-out,
							visibility .2s .4s linear;
}
body.menu-active {
	left: -250px;

	#hoverMenu {
		opacity: 1;
		visibility: visible;
		transition: opacity .4s ease-in-out;
	}
}


@media screen and (min-width: 820px) {
	#hoverMenu, #hoverMenu.menu-active {
		display: none;
	}
}




/*
 * Menu principal
 ------------------------------------------------------------------------------*/
#menubloc {
	position: fixed;
  top: 0;
  right: 0;
  z-index: 90;

	&.fixmenu {
	}
}

#prim-nav {
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	height: 100%;
	z-index: 100;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background: $menuColor;
	overflow: hidden;
	pointer-events: auto;
	transition: right .4s ease-in-out;

	.nav-menu {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	  transition: left .4s ease-in-out;
	}
	[itemprop="url"], .menu-back a {
		position: relative;
		display: block;
		padding: 10px;
		border: 0;
		border-bottom: 1px dotted $menuTextColor;
		color: $menuTextColor;
		font-family: $font-menu;
		outline: none;

		&:hover, &:focus {
			background: $menuTextColor;
			color: $menuColor;
			text-decoration: none;
		}
	}

	// Menu Retour
	.menu-back {
		position: relative;

		> a {
			padding-left: 30px;
			font-size: .8rem;
		  font-style: italic;
			background: rgba($menuTextColor, .3);

			&:after {
				content: "<";
				position: absolute;
			  top: 50%;
				left: 10px;
				margin: 0;
			  transform: translateY(-50%);
			}
		}
	}

	li {
		font-size: 1rem;
		line-height: 1.2rem;

		&:last-child > [itemprop="url"] {
			border: 0;
		}

		// Si l'item a des enfants
		&.menu-item-has-children > [itemprop="url"] {
			padding-right: 30px;

			&:after {
				content: ">";
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translateY(-50%);
			}
		}

		// Titre
		.menu-title [itemprop="name"] {
			display: block;
			position: relative;
			text-transform: uppercase;
    	font-weight: 700;
		}

		// Si page courante
		//&[class*="current"] > [itemprop="url"],
		&[class*="current-menu-item"] .menu-title > [itemprop="url"] {
			color: $menuColor;
			background: $menuTextColor;
		}
	} //.nav-menu li


	// Specificités mobiles
	.sub-menu {
		position: absolute;
		width: 100%;
		top: 0;
		z-index: -1;
		max-height: 100%;
		left: 100%;
		transition: left .4s ease-in-out;
	}
	.nav-menu {
		li .sub-menu {
			left: 100%;
		}
		&.menu-close {
			left: -100%;

			li > .sub-menu.menu-close {
				left: 0;
			}
			li.menu-open > .sub-menu {
				left: 100%;
				max-height: none;
			}
		}
	}
	.menu-close > li > .sub-menu {
		left: 200%;
	}
	// Fin Specificités mobiles

} // #prim-nav

body.menu-active #prim-nav {
	right: 0;
}


@media screen and (min-width: 820px) {

	#menubloc {
		position: absolute;
		right: 0;
		height: 100%;
		margin: auto;
		padding: 0 !important;
	}

	#prim-nav, #prim-nav.menu-active {
		border: 0;
		position: static;
		width: auto;
    height: 100%;
		overflow: visible;
		transition: none;
	}
	#prim-nav {
		.nav-menu {
			position: relative;
			display: inline-block;
	    vertical-align: top;
			font-size: 0;
			height: $header_height;

			> li {
				&.menu-item-has-children > [itemprop="url"]:after {
					transform: translateY(-50%) rotate(90deg);
				}
				> [itemprop="url"] {
					border: 0;
				}
			}
		 	li {
				position: relative;
				display: inline-block;
	    	vertical-align: top;
				height: 100%;

				[itemprop="url"] {
				  display: flex;
					flex-flow: column;
					justify-content: center;
					padding: 10px;
	    		max-width: 200px;
					height: 100%;
					background: $menuColor;
				}
				&.current-menu-item > [itemprop="url"] {
					background: $menuTextColor;
					color: $menuColor;
				}
				[itemprop="url"]:hover, [itemprop="url"]:focus,
				&.mhover > [itemprop="url"], &:hover > [itemprop="url"] {
					background: $secondColor;
					transition: background .2s ease-in;
				}

				// Sous-menus
				.sub-menu {
					top: 100%;
					left: 0;
					opacity: 0;
					visibility: hidden;
					max-height: none;
					transition: top .2s ease-in-out,
											opacity .2s ease-in-out
											visibility .2s 0s linear;

					li {
	  				width: 100%;
					}
					.sub-menu {
						top: 0;
						left: 100%;
					}
				}
				&:hover > .sub-menu, &.mhover > .sub-menu {
					opacity: 1;
					visibility: visible;
				}

			} // nav-menu li
		} // nav-menu
	}
}
