@import 'variables/vars';


#tinymce.wp-editor {
	h1, h2, h3 {
		margin: 10px 0;
		color: $firstColor;
	}
	h1 {
		font-size: 2rem;
	  line-height: 2rem;
		font-family: $font-titre;
	}
	h2 {
		font-size: 1.6rem;
	  line-height: 1.6rem;
	  margin-bottom: 10px;
	}
	h3 {
		font-size: 1.4rem;
	  line-height: 1.4rem;
	  margin: 20px 0 10px 0;
	}
	h4 {
		font-size: 1.2rem;
	  line-height: 1.2rem;
	}
	h5, h6 {
		font-size: 1.1rem;
	  line-height: 1.1rem;
	}

	ul {}
	li {
		position: relative;
		padding-left: 15px;
		margin-left: 10px;

		&:before {
			content: "*";
			color: $firstColor;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	a {
		text-decoration:none;
		color: $firstColor;
		border-bottom: 1px $firstColor dotted;

		&:hover, &:focus, &:active {
			outline: 0;
			text-decoration: none;
			border-bottom-style: solid;
		}
	}
	strong {
	}
	em {}
	br {
		margin: 0;
	}
	p {
		margin: 0;
	}
	.sous-h2 {
		clear: both;
	}

}

.alignnone, .aligncenter {
	display:block;
	margin: 5px auto 10px;
}
.alignright {
	float:right;
  margin: 7px 0 5px 20px;
}
.alignleft {
	float:left;
  margin: 7px 20px 5px 0;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;

	&.alignnone {
		margin:5px 20px 20px 0;
	}
	&.alignleft {
		margin:5px 20px 20px 0;
	}
	&.alignright {
		margin:5px 0 20px 20px;
	}
	img {
		border:0 none;
		height:auto;
		margin:0;
		max-width:98.5%;
		padding:0;
		width:auto;
	}
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}
