@import 'variables/vars';

html, body {
	background: #FFF;
}
a {
	&:hover, &:focus {
		color: $adminColor3;
	}
}
#wpfooter #footer-left {

}
#wpfooter #footer-upgrade {

}

#wp-toolbar {

}

.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {

}

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
	background: $adminColor2;
	color: #FFF;
	border: 0;
}
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
	background: $adminColor3;
	color: #FFF;
}


#wp-admin-bar-top-secondary {
	display: inline-block;
	div {
		display: inline-block;
		padding-right: 10px;
	}
}
#wpadminbar {
	background: $adminColor;

	.quicklinks {
		a {
			padding: 0;
		}
		.ab-empty-item {
			display: none;
		}
	}
}
#collapse-button:focus,
#collapse-button:hover {
	color: $adminColor3;
}
#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
	background: $adminColor;
}
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu,
#adminmenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
.folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu,
.theme-browser .theme.active .theme-name {
	background: $adminColor2;
}
.theme-browser .theme.active .theme-actions,
.theme-browser .theme .more-details {
	background: rgba($adminColor2, .7);
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {
	background: $adminColor3;
}
#adminmenu {
	margin: 0;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: rgba(#FFF,.7);
}
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
	background: $adminColor2;
	color: $adminColor3;
}
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
	color: $adminColor3;
}


#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,
#wpadminbar li #adminbarsearch.adminbar-focused:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover
#adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
	color: $adminColor3;
}
#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
	background: $adminColor2;
	color: $adminColor3;
}
#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
	background: $adminColor2;
}







#wp-content {
  background: #CCC;
}
#assistance_dashboard {
	background: $adminColor;
	color: #FFF;

	.hndle {
    text-align: center;
		background: $adminColor2;
		color: #FFF;
	}
	.handlediv {
		color: #FFF;
	}
	.inside {
		text-align: center;
    margin: 0;
		padding: 20px;
	}
	a {
		text-decoration:none;
		color: $adminColor3;
		border-bottom: 1px $adminColor3 dotted;

		&:hover, &:focus, &:active {
			outline: 0;
			text-decoration: none;
			border-bottom-style: solid;
		}
	}
	.nbLogo {
		display: inline-block;
		border: 0;
	}

}


/* NBTHEME Options - Customizer
----------------------------------------------------------------------------- */
.customize-control-media .remove-button,
.customize-control-media .default-button,
.customize-control-media .upload-button,
.customize-control-upload .remove-button,
.customize-control-upload .default-button,
.customize-control-upload .upload-button,
.customize-control-image .remove-button,
.customize-control-image .default-button,
.customize-control-image .upload-button,
.customize-control-background .remove-button,
.customize-control-background .default-button,
.customize-control-background .upload-button,
.customize-control-cropped_image .remove-button,
.customize-control-cropped_image .default-button,
.customize-control-cropped_image .upload-button,
.customize-control-site_icon .remove-button,
.customize-control-site_icon .default-button,
.customize-control-site_icon .upload-button,
.customize-control-header button.new,
.customize-control-header button.remove {
	width: auto !important;
}
