@import 'variables/vars',
				'base/clean',
				'components/buttons';

html, .login {
	background: $firstColor;
}
.login {
	#login {
		position: absolute;
		background: rgba(#FFF, .1);
		border: 1px solid #FFF;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		padding: 20px;

		h1 {
			a {
				background: url("../img/logo-admin.png");
				width: 234px;
			  height: 90px;
			  margin-bottom: 15px;
			  border: 0;
			}
		}
		form {
			background: none;
		  box-shadow: none;
		  margin: 0;
		  padding: 0 0 20px;
		  border-bottom: 1px solid #FFF;

			label {
				color: #FFF;
			}

			&#loginform {
				#user_login {}
				#user_pass {}
			}
		}
		form#loginform p.submit {}
		input[type="submit"] {
			@include createBtn($firstColor, #FFF, #FFF);
			font-weight: 700;
		  text-shadow: none;
			box-shadow: none;
		}
		#nav {
			margin-top: 10px;
		  text-align: right;
		  font-style: italic;
		  padding: 0;
		}
		#backtoblog {
			display: none;
		}
		#nav a, #backtoblog a {
			color: #FFF;
			border-bottom-color: #FFF;
		}
	}
	#login_error, .login .message {
		box-shadow: none;
	}
}
