/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

#nav-breadcrumbs {
	margin: 0 auto;
}

#breadcrumbs {
	display: inline-block;
  margin: 10px 0;
	padding: 0;

 	& > * {
		display: inline;
		margin: 5px 6px 5px 0;
		padding: 0;

		&:after {
			content: ">";
			display: inline-block;
			font-size: .6rem;
			color: $firstColor;
    	vertical-align: top;
    	margin-top: 4px;
			margin-left: 8px;
		}

		&:last-child:after {
			display: none;
		}

		& > a {
			padding: 0;
			color: $secondColor;
			cursor: pointer;
		}

	 	& > a:hover, & > a:focus {
			color: $firstColor;
		}

		& > span {
			padding: 10px 10px 0 0;
			color: $textColor;
		}
	}
}
