#cookie-bar {
  position: fixed;
  z-index: 1000;
  bottom: -100px;
  width: 100%;
	background: $firstColor;
	font-size: .8em;
	color: #FFF;
	text-align: center;
	padding: 5px 0;
	-webkit-transition: bottom 1s ease;
	-moz-transition: bottom 1s ease;
	-ms-transition: bottom 1s ease;
	transition: bottom 1s ease;

  &.display {
    bottom: 0;
  }
  &.fixed {
  	position:fixed;
  	top:0;
  	left:0;
  	width:100%;
  }
  &.fixed.bottom {
  	bottom:0;
  	top:auto;
  }
  p {
  	margin:0;
  	padding:0;
  }
  a {
  	color: #FFF;
  	display:inline-block;
  	text-decoration:none;
    padding: 5px;
    border-radius: 5px;
  	margin-left: 8px;
  }
}
.cookie-enable {
  background: $secondColor;

  &:hover {
    background: #FFF;
    color: $secondColor;
  }
}
.cookie-policy {
  &:hover {
    text-decoration: underline;
  }
}
