/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#primary-menu {
  list-style: none;
  padding: 0;
  margin: 0;

    li {
      display: inline-block;
    
      a {
        color: #1247CE;
        font-size: 1.125rem;
        margin: 0 2rem;
      }
    }
}

@keyframes checkboxCheckedAnimation {
	50% {
	  width: 100vw;
	  height: 100vh;
	}
	100% {
	  width: 100vw;
	  height: 100vh;
	  border-radius: 0;
	}
}
  
@keyframes checkboxUncheckedAnimation {
	0% {
	  width: 100vw;
	  height: 100vh;
	}
}
  
@keyframes changeWidthOfElementAnimation {
	50% {
	  width: 0;
	}
	100% {
	  width: 100%;
	}
}
  
#menu-toggle[type="checkbox"]:not(:checked),
#menu-toggle[type="checkbox"]:checked {
  display: none;
}

body.home .menu-toggle_burger:hover {
  background-color: $textColor;
  transition: none;

  &:before {
    background-color: $textColor;
    transition: none;
    }
    &:after {
    background-color: $textColor;
    transition: none;
    }
}

.menu-toggle_burger:hover {
  background-color: $firstColor;
  transition: none;

    &:before {
    background-color: $firstColor;
    transition: none;
    }
    &:after {
    background-color: $firstColor;
    transition: none;
    }
}

.menu-toggle_trigger,
.menu-toggle_burger,
.menu-toggle_burger:before,
.menu-toggle_burger:after {
  position: absolute;
  top: 3em;
  right: 2.5em;
  width: 2em;
  height: 5px;
  background-color: $textColor;
  cursor: pointer;
  z-index: 100;
  transition: $variable-burger-animation-time $variable-menu-animation-function;
}

body.home, body.page-template-page-methode {
  .menu-toggle_burger,
  .menu-toggle_burger:before,
  .menu-toggle_burger:after {
    background-color: #fff; 
  }
}

.menu-toggle_trigger {
  height: 2em;
  background: none;
}

.menu-toggle_burger {
  &:before {
    content: "";
    top: 10px;
    left: 0;
  }
  &:after {
    content: "";
    top: 20px;
    left: 0;
  }
}

.menu_body {
  position: absolute;
  //width: 7em;
  //height: 7em;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: $color-menu;
  z-index: 10;
  animation: checkboxUncheckedAnimation $variable-burger-animation-time both;
}

.menu_body ul {
  margin: 0;
  padding: 0;
}

.menu_body li,
.menu_body a {
  display: none;
  margin: 4.4em 0 -3.3em -0.1em;
  font-weight: normal;
  color: $color-text;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
}

.menu_body a {
  //text-indent: 2em;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}

.menu_body a:hover {
  display: block;
  color: $firstColor;
  transition: none;
  //width: 0;
  //color: $color-text;
  //background-color: $color-body;
  //animation: changeWidthOfElementAnimation $variable-burger-animation-time both;
  
}

#menu-toggle:checked + .menu-toggle_trigger {
  & + .menu-toggle_burger {
	top: 35px;
	background-color: $color-text;
    transform: rotate(405deg);
    transition: transform $variable-burger-animation-time
      $variable-burger-animation-function;

    &:before {
	  top: 0;
	  background-color: $color-text;
      transform: rotate(-90deg);
      transition: transform $variable-burger-animation-time
        $variable-burger-animation-function;
    }
    &:after {
	  top: 0;
	  background-color: $color-text;
      transform: rotate(90deg);
      transition: transform $variable-burger-animation-time
        $variable-burger-animation-function;
    }
  }

  & + .menu-toggle_burger + .menu_body {
    animation: checkboxCheckedAnimation $variable-menu-animation-time
	  $variable-menu-animation-function both;
	  right:0;
  }

  & ~ .menu_body li,
  & ~ .menu_body a {
    display: block;
  }
}

@media screen and (max-width: 819px) {
  .menu-toggle_trigger,
  .menu-toggle_burger,
  .menu-toggle_burger:before,
  .menu-toggle_burger:after {
    top: 1.5em;
    right: 1.5em;
    width: 2em;
    height: 5px;
  }

  .menu-toggle_burger {
    &:before {
      content: "";
      top: 10px;
      left: 0;
    }
    &:after {
      content: "";
      top: 20px;
      left: 0;
    }
  }

  body.page-template-page-methode {
    .menu-toggle_burger,
    .menu-toggle_burger:before,
    .menu-toggle_burger:after {
      background-color: $textColor; 
    }
  }
}