/*--------------------------------------------------------------
# Social
--------------------------------------------------------------*/

.social {
	display: inline-block;
	vertical-align: top;
}
#socialBar .socialink {
	position: relative;
	display: block;
	background: $textColor;
  border-radius: 50%;
	width: 40px;
	height: 40px;
  line-height: 40px;
	text-align: center;
	text-decoration: none;
  margin: 5px;
}
.socialink > span {
	display: none;
}
.socialink:before {
	position: relative;
  display: block;
  font-size: 1rem;
	color: #FFF;
	opacity: 1;
	z-index: 1;
	transform: scale(1);
	transition: all .4s ease-in-out;
}
.socialink:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
  border-radius: 50%;
	border: 4px solid $firstColor;
	background: #FFF;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0);
	transition: all .4s ease-in-out;
}
.socialink:hover:before, .socialink:focus:before {
	color: $firstColor;
	transform: scale(1.2);
}
.socialink:hover:after, .socialink:focus:after {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

// Icones
.iconFacebook:before { content: "Facebook"; }
.iconTwitter:before { content: "Twitter"; }
.iconInstagram:before {
	content: "Instagram";
	font-size: 1.4rem;
}
.iconLinkedin:before {
	content: "Linkedin";
  width: 38px;
  line-height: 38px;
  padding-left: 2px;
}





// Sharer
.sharer {
	display: block;
	vertical-align: top;
  margin: 0 0 0 -5px;

	.sTitle {
		display: inline-block;
	  vertical-align: top;
	  margin: 15px 5px;
	}

	ul {
		display: inline-block;
		vertical-align: top;
	  margin: 2px 0;
	}
	.social {
		padding: 0;
	}
	.slink {
		position: relative;
		display: block;
		text-align: center;
		text-decoration: none;
	  margin: 5px;
		transition: color .2s ease-in-out;
	}

	.slink:hover, .slink:focus {
		color: $firstColor;
	}

	.slink > span {
		display: none;
	}

	.slink:before {
		position: relative;
	  display: block;
	  font-size: .8rem;
	  border-radius: 50%;
		width: 30px;
		height: 30px;
		opacity: 1;
	  line-height: 30px;
		z-index: 1;
		border: 2px solid;
		transition: background .4s ease-in-out;
	}

	.slink:before {
		color: $firstColor;
		border-color: $firstColor;
	}

	.slink:hover:before, .slink:focus:before {
		color: #FFF;
		background: $firstColor;
	}
}


#sharepopup {
	position: fixed;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	display: none;
	background: #CCC;
}
#sharepopup.active {
	display: block;
}



@media only screen and (min-width:540px) {
	.sharer {
		display: inline-block;
	  margin: 0;
	}
}
@media only screen and (min-width:840px) {
	.sharer {
	  margin: 0 0 0 50px;
	}
}
