@charset "UTF-8";
/* Import des variables et des styles globaux */
/*
 * Fonts
 * ----------------------------------------------------------------------------*/
/*
 * Variables / tailles
 * ----------------------------------------------------------------------------*/
/*
 * Couleurs
 * ----------------------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2.44em;
  margin: 0.67em 0;
  line-height: 1.4;
}

h2 {
  font-size: 1.95em;
  line-height: 1.4;
}

h3 {
  font-size: 1.56em;
  line-height: 1.4;
}

h4 {
  font-size: 1.25em;
  line-height: 1.5;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.875rem;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/** Liens
  * --------------------------------------------- */
a {
  color: #040402;
  text-decoration: none;
  border-bottom: 0.2em solid transparent;
}

a:visited {
  color: #040402;
}

a:hover, a:focus, a:active {
  border-bottom-style: solid;
  border-bottom-color: inherit;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

/** Misc
  * --------------------------------------------- */
::selection {
  background: #DF1326;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #DF1326;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #DF1326;
  color: #FFF;
  text-shadow: none;
}

meta, .fullGrid > span[itemprop="author publisher"], .tableGrid > span[itemprop="author publisher"] {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@viewport {
  width: device-width;
}
@media only screen and (min-width: 1130px) {
  body {
    font-size: 18x;
  }
}
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/*
Exemple d'ajout d'une typo locale

@font-face {
	font-family:'fonticon';
	src:url('../fonts/fonticon.eot');
	src:url('../fonts/fonticon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fonticon.woff') format('woff'),
		url('../fonts/fonticon.ttf') format('truetype'),
		url('../fonts/fonticon.svg#fonticon') format('svg');
    font-weight:normal;
    font-style:normal;
}
*/
@font-face {
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* or block, swap, fallback, optional */
  src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2"), url("./assets/fonts/Poppins-Regular.ttf") format("truetype"), url("./assets/fonts/poppins-regular-webfont.woff") format("woff");
}
#header *:before, #site-main *:before, #footer *:before, #adminbar *:before,
#header *:after, #site-main *:after, #footer *:after, #adminbar *:after {
  font-family: "CoconOT-Bold", sans-serif;
  text-rendering: optimizeLegibility;
  speak: none;
}

.icons_hide {
  display: none;
}

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
/*
 * Structure des tailles de contenus
 * ----------------------------------------------------------------------------*/
.innerWidth, .innerSmallWidth {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.innerWidth {
  max-width: 1240px;
}

.innerSmallWidth {
  max-width: 900px;
}

/*
 * Global Styles
 * ----------------------------------------------------------------------------*/
html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  background-color: #FFF2E2;
  font-family: "poppinsregular", Helvetica, sans-serif;
}

#page {
  overflow: hidden;
}

h1, h2, h3, h4 {
  color: #1247CE;
}

h1 {
  font-size: 6rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 2.6rem;
  margin-top: 10rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin: 32px 0 22px 0;
  padding-left: 32px;
  position: relative;
}
h3:before {
  content: ">";
  font-size: 1.25rem;
  color: #048667;
  position: relative;
  top: 0;
  left: -16px;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

h5, h6 {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.entry-title {
  text-align: center;
}

.entry-content {
  line-height: 1.8;
}

@media only screen and (max-width: 820px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    margin-top: 4rem;
  }
}
/*
 * Styles spécifiques au WYSIWYG Wordpress
 ------------------------------------------------------------------------------*/
.alignnone, .aligncenter {
  display: block;
  margin: 5px auto 10px;
}

.alignright {
  float: right;
  margin: 7px 0 5px 20px;
}

.alignleft {
  float: left;
  margin: 7px 20px 5px 0;
}

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*
 * Styles spécifiques de tableaux
 ------------------------------------------------------------------------------*/
table {
  width: 100%;
  margin: 20px 0;
}
table thead, table td.hideTd {
  display: none;
}
table tbody tr {
  border: 1px solid #DF1326;
}
table td {
  display: block;
  padding: 10px;
}

@media only screen and (min-width: 820px) {
  table thead {
    display: table-header-group;
  }
  table thead td {
    background: #DF1326;
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: 700;
  }
  table tbody tr {
    border: 0;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
  }
  table tbody tr:nth-child(2n) td {
    background: rgba(223, 19, 38, 0.25);
  }
  table td, table td.hideTd {
    display: table-cell;
  }
}
/*--------------------------------------------------------------
## Grid Flex
--------------------------------------------------------------*/
.fullGrid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.fullGrid > * {
  flex: 100%;
}

@media only screen and (min-width: 820px) {
  .fullGrid > * {
    flex: 50%;
    max-width: 50%;
  }

  .revGrid {
    flex-direction: row-reverse;
  }

  /** Définition des grilles
    * --------------------------------------------- */
  .grid20 {
    flex: 20%;
    max-width: 20%;
  }

  .grid25 {
    flex: 25%;
    max-width: 25%;
  }

  .grid30 {
    flex: 30%;
    max-width: 30%;
  }

  .grid33 {
    flex: calc(100%/3);
    max-width: calc(100%/3);
  }

  .grid40 {
    flex: 40%;
    max-width: 40%;
  }

  .grid60 {
    flex: 60%;
    max-width: 60%;
  }

  .grid66 {
    flex: calc(100%*2/3);
    max-width: calc(100%*2/3);
  }

  .grid75 {
    flex: 75%;
    max-width: 75%;
  }

  .grid80 {
    flex: 80%;
    max-width: 80%;
  }

  .grid100 {
    flex: 100%;
    max-width: 100%;
  }
}
/*--------------------------------------------------------------
# Print
--------------------------------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# General Structure
  ## Code
  ## Cover
  ## Embeds
  ## Gallery
  ## Group
  ## Image
  ## Latest Posts
  ## List
  ## More
  ## Pullquote
  ## Quote
  ## Separator
  ## Table
  ## Video
# Additional Theme Styles
  ## Color Palette
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Block Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## General Structure
--------------------------------------------------------------*/
.entry-content > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  padding-left: 14px;
  padding-right: 14px;
}

.entry-content > .alignwide {
  max-width: 1070px;
}

.entry-content > .alignfull {
  margin: 0 0;
  max-width: 100%;
}

@media screen and (min-width: 608px) {
  .entry-content > * {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/*--------------------------------------------------------------
## Code
--------------------------------------------------------------*/
.wp-block-code {
  padding: 0.8em 1em;
  margin-left: 14px;
  margin-right: 14px;
}

@media screen and (min-width: 608px) {
  .wp-block-code {
    margin-left: auto;
    margin-right: auto;
  }
}
/*--------------------------------------------------------------
## Cover
--------------------------------------------------------------*/
.wp-block-cover-text p {
  padding: 1.5em 14px;
}

@media screen and (min-width: 608px) {
  .wp-block-cover-text p {
    padding: 1.5em 0;
  }
}
/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/
.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.wp-block-gallery:not(.components-placeholder) {
  margin: 1.5em auto;
}

/*--------------------------------------------------------------
## Group
--------------------------------------------------------------*/
.wp-block-group > .wp-block-group__inner-container > * {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-group > .wp-block-group__inner-container > .alignwide {
  max-width: 1070px;
}

.wp-block-group > .wp-block-group__inner-container > .alignfull {
  max-width: 100%;
}

.wp-block-group.has-background > .wp-block-group__inner-container > :first-child {
  margin-top: 0;
}

.wp-block-group.has-background > .wp-block-group__inner-container > .alignfull {
  width: calc( 100% + 60px );
  max-width: calc( 100% + 60px );
  position: relative;
  left: -30px;
}

/*--------------------------------------------------------------
# Image
--------------------------------------------------------------*/
.wp-block-image img {
  display: block;
  height: auto;
  max-width: 100%;
}

.wp-block-image.alignleft,
.wp-block-image.alignright {
  width: 100%;
}

.wp-block-image.alignfull img {
  width: 100vw;
}

.wp-block-image .alignleft img,
.wp-block-image .alignright img,
.wp-block-image .alignleft figcaption,
.wp-block-image .alignright figcaption {
  max-width: 100%;
  width: 100%;
}

/*--------------------------------------------------------------
## Latest Posts
--------------------------------------------------------------*/
ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 14px;
}

/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/
.entry-content ul,
.entry-content ol {
  margin: 1.5em auto;
  max-width: 580px;
  list-style-position: outside;
}

.entry-content li {
  margin-left: 2.5em;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
  margin: 0 auto;
}

.entry-content ul ul li,
.entry-content ol ol li,
.entry-content ul ol li,
.entry-content ol ul li {
  margin-left: 0;
}

/*--------------------------------------------------------------
## More
--------------------------------------------------------------*/
.more-link {
  display: block;
}

/*--------------------------------------------------------------
## Pullquote
--------------------------------------------------------------*/
.wp-block-pullquote > p:first-child {
  margin-top: 0;
}

/*--------------------------------------------------------------
## Quote
--------------------------------------------------------------*/
.wp-block-quote {
  margin-left: 14px;
  margin-right: 14px;
  padding: 0;
}

.wp-block-quote > * {
  margin-left: 1rem;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  margin: 36px auto;
  padding: 0;
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
  font-size: 13px;
  font-size: 0.8125rem;
}

@media screen and (min-width: 644px) {
  .wp-block-quote {
    margin: 36px auto;
  }
}
/*--------------------------------------------------------------
## Separator
--------------------------------------------------------------*/
.wp-block-separator {
  margin: 3em auto;
  padding: 0;
}

/*--------------------------------------------------------------
## Table
--------------------------------------------------------------*/
.wp-block-table {
  overflow-x: auto;
  margin-left: 14px;
  margin-right: 14px;
  width: calc( 100% - 28px );
}

.wp-block-table table {
  border-collapse: collapse;
  width: 100%;
}

.wp-block-table td, .wp-block-table th {
  padding: 0.5em;
}

@media screen and (min-width: 608px) {
  .wp-block-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
/*--------------------------------------------------------------
## Video
--------------------------------------------------------------*/
.wp-block-video video {
  max-width: 580px;
}

/*--------------------------------------------------------------
# Additional Theme Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Color Palette
--------------------------------------------------------------*/
.has-strong-blue-color {
  color: #0073aa;
}

.has-strong-blue-background-color {
  background-color: #0073aa;
}

.has-lighter-blue-color {
  color: #229fd8;
}

.has-lighter-blue-background-color {
  background-color: #229fd8;
}

.has-very-light-gray-color {
  color: #eee;
}

.has-very-light-gray-background-color {
  background-color: #eee;
}

.has-very-dark-gray-color {
  color: #444;
}

.has-very-dark-gray-background-color {
  background-color: #444;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
#nav-breadcrumbs {
  margin: 0 auto;
}

#breadcrumbs {
  display: inline-block;
  margin: 10px 0;
  padding: 0;
}
#breadcrumbs > * {
  display: inline;
  margin: 5px 6px 5px 0;
  padding: 0;
}
#breadcrumbs > *:after {
  content: ">";
  display: inline-block;
  font-size: 0.6rem;
  color: #DF1326;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 8px;
}
#breadcrumbs > *:last-child:after {
  display: none;
}
#breadcrumbs > * > a {
  padding: 0;
  color: #fff;
  cursor: pointer;
}
#breadcrumbs > * > a:hover, #breadcrumbs > * > a:focus {
  color: #DF1326;
}
#breadcrumbs > * > span {
  padding: 10px 10px 0 0;
  color: #250E07;
}

/*--------------------------------------------------------------
# Btn
--------------------------------------------------------------*/
.btn, [input=submit] {
  position: relative;
  clear: both;
  text-transform: uppercase;
  display: inline-block;
  padding: 18px 20px 16px;
  margin: 10px;
  font-family: "poppinsregular", Helvetica, sans-serif;
  text-align: center;
  line-height: 1em;
  transition: 0.4s background-color ease-in-out;
}

.btn:after {
  position: relative;
  margin-top: -2px;
  margin-left: 15px;
  vertical-align: middle;
  font-size: 1.4em;
  display: inline-block;
  line-height: 1em;
}

/*
 * Carousel basics
 * ----------------------------------------------------------------------------*/
.carousel {
  position: relative;
  line-height: 1;
  transform: translateZ(0);
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
}
.carousel-inner .item {
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  opacity: 0;
  border: 0;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  transition: left 1.4s cubic-bezier(0.3, 0.575, 0.225, 1);
}
.carousel-inner .container {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.carousel-inner .bgVisuel {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(1.05) translate(-50%, -50%);
}
.carousel-inner .active .bgVisuel {
  transform: scale(1) translate(-50%, -50%);
  transition: transform 5s ease-out;
}
.carousel-inner .active, .carousel-inner .next, .carousel-inner .prev {
  opacity: 1;
  height: 100%;
}
.carousel-inner .next, .carousel-inner .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner .active, .carousel-inner .next.left, .carousel-inner .prev.right {
  left: 0;
}
.carousel-inner .next, .carousel-inner .active.right {
  left: 100%;
}
.carousel-inner .prev, .carousel-inner .active.left {
  left: -100%;
}

.carousel.fade .item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.carousel.fade .active, .carousel.fade .next.left, .carousel.fade .prev.right {
  left: 0;
  opacity: 1;
}
.carousel.fade .next, .carousel.fade .active.right, .carousel.fade .prev, .carousel.fade .active.left {
  opacity: 0;
  left: 0;
}

/*
 * Controls
 * ----------------------------------------------------------------------------*/
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 50px;
  height: 100%;
  text-indent: -200px;
  color: #FFF;
  overflow: hidden;
  transition: 0.4s color ease-in-out;
}
.carousel-control.right {
  right: 0;
  left: auto;
}
.carousel-control:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: 0;
  font-size: 2em;
  transition: 0.2s left ease-in-out;
}
.carousel-control.left:before {
  content: "<";
}
.carousel-control.right:before {
  content: ">";
}
.carousel-control.left:hover:before, .carousel-control.left:focus:before {
  left: 40%;
}
.carousel-control.right:hover:before, .carousel-control.right:focus:before {
  left: 60%;
}
.carousel-control:hover, .carousel-control:focus {
  color: #fff;
  text-decoration: none;
}

/*
 * Indicators
 * ----------------------------------------------------------------------------*/
.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0 10px;
  list-style: none;
  z-index: 20;
  text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 6px;
  text-indent: -999px;
  background-color: #FFF;
  border: 1px solid #DF1326;
  cursor: pointer;
}
.carousel-indicators .active {
  background-color: #DF1326;
}

#cookie-bar {
  position: fixed;
  z-index: 1000;
  bottom: -100px;
  width: 100%;
  background: #DF1326;
  font-size: 0.8em;
  color: #FFF;
  text-align: center;
  padding: 5px 0;
  transition: bottom 1s ease;
}
#cookie-bar.display {
  bottom: 0;
}
#cookie-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#cookie-bar.fixed.bottom {
  bottom: 0;
  top: auto;
}
#cookie-bar p {
  margin: 0;
  padding: 0;
}
#cookie-bar a {
  color: #FFF;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  margin-left: 8px;
}

.cookie-enable {
  background: #fff;
}
.cookie-enable:hover {
  background: #FFF;
  color: #fff;
}

.cookie-policy:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 3px solid #250E07;
  background: #250E07;
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  border-color: red;
  background: red;
  color: #250E07;
}

button:active, button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  color: #666;
  border: 7px solid #250E07;
  padding: 3px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 7px solid #250E07;
}

textarea {
  width: 100%;
}

.frm_style_style-formidable.with_frm_style .frm_blank_field input[type=text], .frm_style_style-formidable.with_frm_style .frm_blank_field input[type=password], .frm_style_style-formidable.with_frm_style .frm_blank_field input[type=url], .frm_style_style-formidable.with_frm_style .frm_blank_field input[type=tel], .frm_style_style-formidable.with_frm_style .frm_blank_field input[type=number], .frm_style_style-formidable.with_frm_style .frm_blank_field input[type=email], .frm_style_style-formidable.with_frm_style .frm_blank_field textarea, .frm_style_style-formidable.with_frm_style .frm_blank_field .mce-edit-area iframe, .frm_style_style-formidable.with_frm_style .frm_blank_field select, .frm_form_fields_error_style, .frm_style_style-formidable.with_frm_style .frm_blank_field .frm-g-recaptcha iframe, .frm_style_style-formidable.with_frm_style .frm_blank_field .g-recaptcha iframe, .frm_style_style-formidable.with_frm_style .frm_blank_field .frm-card-element.StripeElement, .frm_style_style-formidable.with_frm_style .frm_blank_field .chosen-container-multi .chosen-choices, .frm_style_style-formidable.with_frm_style .frm_blank_field .chosen-container-single .chosen-single, .frm_style_style-formidable.with_frm_style .frm_form_field :invalid {
  border: 7px solid red;
}

.frm_forms .frm_checkbox label {
  height: initial;
  line-height: 1.3em;
}
.frm_forms .frm_checkbox label input {
  float: left;
}
.frm_forms .frm_checkbox label a {
  border-bottom: none;
  text-decoration: underline;
}
.frm_forms .frm_checkbox label a:hover {
  color: red;
}

input[type=checkbox] {
  width: 35px;
}

/* CONTACT FORM 7
   -------------------------------------------------------------------------- */
input, textarea, select {
  display: block;
  width: 100%;
  font-size: 13px;
}

.frm_forms {
  max-width: 50%;
}
.frm_forms fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.frm_forms label {
  display: block;
  height: 15px;
}
.frm_forms select {
  width: 385px;
  padding: 7px;
}
.frm_forms input {
  max-width: 357px;
  padding: 7px;
}
.frm_forms legend {
  opacity: 0;
}

.frm_primary_label {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.frm_verify {
  position: absolute;
  left: -3000px;
}

.frm_button_submit {
  color: #fff;
  background-color: #250E07;
  width: 100%;
  padding: 13px;
  font-size: 18px;
  text-align: left;
  max-width: 385px;
  margin-top: 15px;
}
.frm_button_submit:hover {
  background-color: red;
}

.frm_message {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  display: block;
}

#mailjetSubscriptionForm {
  display: flex;
}
#mailjetSubscriptionForm .mailjet-widget-form-group {
  margin: 0;
}
#mailjetSubscriptionForm input[type=email] {
  line-height: 25px;
  width: 300px;
}
#mailjetSubscriptionForm input[type=submit] {
  width: 100px;
  line-height: 25px;
}

.mailjet_widget_form_message {
  font-family: "poppinsregular", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  display: block;
}

@media (max-width: 420px) {
  #mailjetSubscriptionForm input[type=email] {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .frm_forms {
    max-width: 100%;
  }
  .frm_forms select {
    width: 100%;
  }
  .frm_forms input {
    max-width: 100;
  }
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#primary-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
#primary-menu li {
  display: inline-block;
}
#primary-menu li a {
  color: #1247CE;
  font-size: 1.125rem;
  margin: 0 2rem;
}

@keyframes checkboxCheckedAnimation {
  50% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
@keyframes checkboxUncheckedAnimation {
  0% {
    width: 100vw;
    height: 100vh;
  }
}
@keyframes changeWidthOfElementAnimation {
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
#menu-toggle[type=checkbox]:not(:checked),
#menu-toggle[type=checkbox]:checked {
  display: none;
}

body.home .menu-toggle_burger:hover {
  background-color: #250E07;
  transition: none;
}
body.home .menu-toggle_burger:hover:before {
  background-color: #250E07;
  transition: none;
}
body.home .menu-toggle_burger:hover:after {
  background-color: #250E07;
  transition: none;
}

.menu-toggle_burger:hover {
  background-color: #DF1326;
  transition: none;
}
.menu-toggle_burger:hover:before {
  background-color: #DF1326;
  transition: none;
}
.menu-toggle_burger:hover:after {
  background-color: #DF1326;
  transition: none;
}

.menu-toggle_trigger,
.menu-toggle_burger,
.menu-toggle_burger:before,
.menu-toggle_burger:after {
  position: absolute;
  top: 3em;
  right: 2.5em;
  width: 2em;
  height: 5px;
  background-color: #250E07;
  cursor: pointer;
  z-index: 100;
  transition: 0.7s cubic-bezier(0.25, 0.1, 0.25, 1);
}

body.home .menu-toggle_burger,
body.home .menu-toggle_burger:before,
body.home .menu-toggle_burger:after, body.page-template-page-methode .menu-toggle_burger,
body.page-template-page-methode .menu-toggle_burger:before,
body.page-template-page-methode .menu-toggle_burger:after {
  background-color: #fff;
}

.menu-toggle_trigger {
  height: 2em;
  background: none;
}

.menu-toggle_burger:before {
  content: "";
  top: 10px;
  left: 0;
}
.menu-toggle_burger:after {
  content: "";
  top: 20px;
  left: 0;
}

.menu_body {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  z-index: 10;
  animation: checkboxUncheckedAnimation 0.7s both;
}

.menu_body ul {
  margin: 0;
  padding: 0;
}

.menu_body li,
.menu_body a {
  display: none;
  margin: 4.4em 0 -3.3em -0.1em;
  font-weight: normal;
  color: #282828;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
}

.menu_body a {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}

.menu_body a:hover {
  display: block;
  color: #DF1326;
  transition: none;
}

#menu-toggle:checked + .menu-toggle_trigger + .menu-toggle_burger {
  top: 35px;
  background-color: #282828;
  transform: rotate(405deg);
  transition: transform 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#menu-toggle:checked + .menu-toggle_trigger + .menu-toggle_burger:before {
  top: 0;
  background-color: #282828;
  transform: rotate(-90deg);
  transition: transform 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#menu-toggle:checked + .menu-toggle_trigger + .menu-toggle_burger:after {
  top: 0;
  background-color: #282828;
  transform: rotate(90deg);
  transition: transform 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#menu-toggle:checked + .menu-toggle_trigger + .menu-toggle_burger + .menu_body {
  animation: checkboxCheckedAnimation 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) both;
  right: 0;
}
#menu-toggle:checked + .menu-toggle_trigger ~ .menu_body li, #menu-toggle:checked + .menu-toggle_trigger ~ .menu_body a {
  display: block;
}

@media screen and (max-width: 819px) {
  .menu-toggle_trigger,
.menu-toggle_burger,
.menu-toggle_burger:before,
.menu-toggle_burger:after {
    top: 1.5em;
    right: 1.5em;
    width: 2em;
    height: 5px;
  }

  .menu-toggle_burger:before {
    content: "";
    top: 10px;
    left: 0;
  }
  .menu-toggle_burger:after {
    content: "";
    top: 20px;
    left: 0;
  }

  body.page-template-page-methode .menu-toggle_burger,
body.page-template-page-methode .menu-toggle_burger:before,
body.page-template-page-methode .menu-toggle_burger:after {
    background-color: #250E07;
  }
}
.menu-wrap {
  display: none;
}

@media screen and (max-width: 800px) {
  :root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
  }

  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
  }

  .btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
  }

  .btn:hover {
    opacity: 0.7;
  }

  .menu-wrap {
    display: initial;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  .menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .menu-wrap .hamburger > div::after {
    top: 10px;
  }

  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  .menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu > div {
    background: var(--overlay-color);
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
}
/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
#listPagination {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
#listPagination .page-numbers {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #DF1326;
  background: #FFF;
  border: 2px solid #DF1326;
  border-radius: 50%;
  overflow: hidden;
}
#listPagination .page-numbers:hover, #listPagination .page-numbers:focus {
  text-decoration: none;
  background: #DF1326;
  color: #FFF;
}
#listPagination .page-numbers.current {
  color: #250E07;
  border-color: #250E07;
  background: #FFF;
}
#listPagination .page-numbers.next {
  text-indent: -999px;
}
#listPagination .page-numbers.next:before {
  content: ">";
  display: block;
  text-indent: 0;
  font-size: 1.4rem;
  position: relative;
  top: -1px;
  left: 1px;
}
#listPagination .page-numbers.prev:before {
  content: "<";
  display: block;
  text-indent: 0;
  font-size: 1.4rem;
  position: relative;
  top: -1px;
  right: 1px;
}

/*--------------------------------------------------------------
# Social
--------------------------------------------------------------*/
.social {
  display: inline-block;
  vertical-align: top;
}

#socialBar .socialink {
  position: relative;
  display: block;
  background: #250E07;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

.socialink > span {
  display: none;
}

.socialink:before {
  position: relative;
  display: block;
  font-size: 1rem;
  color: #FFF;
  opacity: 1;
  z-index: 1;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.socialink:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #DF1326;
  background: #FFF;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.4s ease-in-out;
}

.socialink:hover:before, .socialink:focus:before {
  color: #DF1326;
  transform: scale(1.2);
}

.socialink:hover:after, .socialink:focus:after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.iconFacebook:before {
  content: "Facebook";
}

.iconTwitter:before {
  content: "Twitter";
}

.iconInstagram:before {
  content: "Instagram";
  font-size: 1.4rem;
}

.iconLinkedin:before {
  content: "Linkedin";
  width: 38px;
  line-height: 38px;
  padding-left: 2px;
}

.sharer {
  display: block;
  vertical-align: top;
  margin: 0 0 0 -5px;
}
.sharer .sTitle {
  display: inline-block;
  vertical-align: top;
  margin: 15px 5px;
}
.sharer ul {
  display: inline-block;
  vertical-align: top;
  margin: 2px 0;
}
.sharer .social {
  padding: 0;
}
.sharer .slink {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  transition: color 0.2s ease-in-out;
}
.sharer .slink:hover, .sharer .slink:focus {
  color: #DF1326;
}
.sharer .slink > span {
  display: none;
}
.sharer .slink:before {
  position: relative;
  display: block;
  font-size: 0.8rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 1;
  line-height: 30px;
  z-index: 1;
  border: 2px solid;
  transition: background 0.4s ease-in-out;
}
.sharer .slink:before {
  color: #DF1326;
  border-color: #DF1326;
}
.sharer .slink:hover:before, .sharer .slink:focus:before {
  color: #FFF;
  background: #DF1326;
}

#sharepopup {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: none;
  background: #CCC;
}

#sharepopup.active {
  display: block;
}

@media only screen and (min-width: 540px) {
  .sharer {
    display: inline-block;
    margin: 0;
  }
}
@media only screen and (min-width: 840px) {
  .sharer {
    margin: 0 0 0 50px;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*
 * Header basics
 ------------------------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
}
#header .header-inner {
  position: relative;
  height: 100%;
}
#header a {
  border-bottom: none;
}

.site-header {
  margin-left: 10%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 67px;
}

.site-branding a {
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  #site-navigation {
    display: none;
  }
}
@media only screen and (max-width: 820px) {
  #primary .header {
    padding: 3rem 0;
  }

  #primary .header .wp-block-group__inner-container {
    padding: 0 20px;
  }
}
.home .main-navigation .linkedin svg, .home .main-navigation .tel svg, .page-id-18 .main-navigation .linkedin svg, .page-id-18 .main-navigation .tel svg {
  stroke: #fff;
}
.home .main-navigation .linkedin svg path, .home .main-navigation .tel svg path, .page-id-18 .main-navigation .linkedin svg path, .page-id-18 .main-navigation .tel svg path {
  fill: #fff;
  stroke: none;
}
.home .main-navigation .linkedin:hover svg, .home .main-navigation .tel:hover svg, .page-id-18 .main-navigation .linkedin:hover svg, .page-id-18 .main-navigation .tel:hover svg {
  fill: #250E07;
  stroke: #250E07;
}
.home .main-navigation .linkedin:hover svg path, .home .main-navigation .tel:hover svg path, .page-id-18 .main-navigation .linkedin:hover svg path, .page-id-18 .main-navigation .tel:hover svg path {
  fill: #250E07;
}

.main-navigation {
  display: flex;
}
.main-navigation .tel {
  margin: 2.5rem 20px 0 8px;
}
.main-navigation .linkedin {
  margin: 2.5rem 10px 0 8px;
}
.main-navigation .linkedin, .main-navigation .tel {
  display: block;
}
.main-navigation .linkedin svg, .main-navigation .tel svg {
  stroke: #250E07;
}
.main-navigation .linkedin svg path, .main-navigation .tel svg path {
  fill: #250E07;
  stroke: none;
}
.main-navigation .linkedin svg circle:nth-child(2), .main-navigation .tel svg circle:nth-child(2) {
  fill: white;
}
.main-navigation .linkedin:hover svg, .main-navigation .tel:hover svg {
  fill: #DF1326;
  stroke: #DF1326;
}
.main-navigation .linkedin:hover svg path, .main-navigation .tel:hover svg path {
  fill: #DF1326;
}
.main-navigation .primary-menu {
  position: relative;
  width: 3em;
  margin-left: 20px;
}

.home .main-navigation .linkedin svg circle:nth-child(2), .home .main-navigation .tel svg circle:nth-child(2), .page-template-page-methode .main-navigation .linkedin svg circle:nth-child(2), .page-template-page-methode .main-navigation .tel svg circle:nth-child(2) {
  fill: none;
}

@media screen and (min-width: 820px) {
  #header {
    height: 70px;
  }
}
@media screen and (max-width: 819px) {
  #header {
    height: 90px;
    background: #fff;
  }

  .main-navigation {
    display: flex;
  }
  .main-navigation .tel {
    margin: 1rem 20px 0 8px;
  }
  .main-navigation .linkedin {
    margin: 1rem 10px 0 8px;
  }

  .home #header {
    background: transparent;
  }

  .page-template-page-methode .site-branding a {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url(./assets/images/logo-agence-insitu-color.svg) no-repeat;
  }
  .page-template-page-methode .site-branding a svg {
    display: none;
  }
  .page-template-page-methode .main-navigation .linkedin svg, .page-template-page-methode .main-navigation .tel svg {
    stroke: #250E07;
  }
  .page-template-page-methode .main-navigation .linkedin svg path, .page-template-page-methode .main-navigation .tel svg path {
    fill: #250E07;
    stroke: none;
  }
  .page-template-page-methode .main-navigation .linkedin:hover svg, .page-template-page-methode .main-navigation .tel:hover svg {
    fill: #DF1326;
    stroke: #DF1326;
  }
  .page-template-page-methode .main-navigation .linkedin:hover svg path, .page-template-page-methode .main-navigation .tel:hover svg path {
    fill: #DF1326;
  }

  .site-branding a {
    margin: 0.3rem 0 0 2.5rem;
  }

  .site-branding a svg {
    width: 80px;
  }

  .home .site-branding a {
    margin: 1rem 0 0 1.5rem;
  }
  .home .site-branding a svg {
    width: 130px;
  }
}
/*
 * Logo
 ------------------------------------------------------------------------------*/
img.logo path {
  fill: #000;
}

#logo_bloc {
  display: inline-block;
}

#logo_link {
  display: block;
  max-width: 150px;
  padding: 3px 0;
  border: 0;
}

@media screen and (min-width: 820px) {
  #logo_link {
    max-width: 150px;
    padding: 7px 10px;
  }
}
/*
 * Menu accessible
 ------------------------------------------------------------------------------*/
.print-hidden a {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 900;
  transform: translateX(-50%);
  display: inline-block;
  background: #FFF;
  height: 0;
  overflow: hidden;
  border: 0;
}
.print-hidden a:focus {
  padding: 5px 10px;
  height: 30px;
}

/*
 * Bouton toggle menu
 ------------------------------------------------------------------------------*/
#toggle-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 64px;
  text-align: center;
  outline: none;
  transition: background 0.4s ease-in-out, right 0.4s ease-in-out;
}
#toggle-menu strong {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.7rem;
}
#toggle-menu span, #toggle-menu:before, #toggle-menu:after {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30px;
  height: 5px;
  background: #FFF;
  transition: all 0.4s ease;
}
#toggle-menu:before {
  content: "";
  top: 10px;
}
#toggle-menu:after {
  content: "";
  top: 30px;
}
#toggle-menu.toggled-on {
  background: #FFF;
  right: 250px;
}
#toggle-menu.toggled-on strong {
  color: #1247CE;
}
#toggle-menu.toggled-on span {
  opacity: 0;
}
#toggle-menu.toggled-on:before {
  top: 20px;
  background: #1247CE;
  transform: rotate(45deg);
}
#toggle-menu.toggled-on:after {
  top: 20px;
  background: #1247CE;
  transform: rotate(-45deg);
}

@media screen and (min-width: 820px) {
  #toggle-menu {
    display: none;
  }
}
/*
 * Menu mobile active
 ------------------------------------------------------------------------------*/
#hoverMenu {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s 0.2s ease-in-out, visibility 0.2s 0.4s linear;
}

body.menu-active {
  left: -250px;
}
body.menu-active #hoverMenu {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out;
}

@media screen and (min-width: 820px) {
  #hoverMenu, #hoverMenu.menu-active {
    display: none;
  }
}
/*
 * Menu principal
 ------------------------------------------------------------------------------*/
#menubloc {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 90;
}
#prim-nav {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  z-index: 100;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  background: #1247CE;
  overflow: hidden;
  pointer-events: auto;
  transition: right 0.4s ease-in-out;
}
#prim-nav .nav-menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: left 0.4s ease-in-out;
}
#prim-nav [itemprop=url], #prim-nav .menu-back a {
  position: relative;
  display: block;
  padding: 10px;
  border: 0;
  border-bottom: 1px dotted #FFF;
  color: #FFF;
  font-family: "poppinsregular", Helvetica, sans-serif;
  outline: none;
}
#prim-nav [itemprop=url]:hover, #prim-nav [itemprop=url]:focus, #prim-nav .menu-back a:hover, #prim-nav .menu-back a:focus {
  background: #FFF;
  color: #1247CE;
  text-decoration: none;
}
#prim-nav .menu-back {
  position: relative;
}
#prim-nav .menu-back > a {
  padding-left: 30px;
  font-size: 0.8rem;
  font-style: italic;
  background: rgba(255, 255, 255, 0.3);
}
#prim-nav .menu-back > a:after {
  content: "<";
  position: absolute;
  top: 50%;
  left: 10px;
  margin: 0;
  transform: translateY(-50%);
}
#prim-nav li {
  font-size: 1rem;
  line-height: 1.2rem;
}
#prim-nav li:last-child > [itemprop=url] {
  border: 0;
}
#prim-nav li.menu-item-has-children > [itemprop=url] {
  padding-right: 30px;
}
#prim-nav li.menu-item-has-children > [itemprop=url]:after {
  content: ">";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
#prim-nav li .menu-title [itemprop=name] {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
#prim-nav li[class*=current-menu-item] .menu-title > [itemprop=url] {
  color: #1247CE;
  background: #FFF;
}
#prim-nav .sub-menu {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  max-height: 100%;
  left: 100%;
  transition: left 0.4s ease-in-out;
}
#prim-nav .nav-menu li .sub-menu {
  left: 100%;
}
#prim-nav .nav-menu.menu-close {
  left: -100%;
}
#prim-nav .nav-menu.menu-close li > .sub-menu.menu-close {
  left: 0;
}
#prim-nav .nav-menu.menu-close li.menu-open > .sub-menu {
  left: 100%;
  max-height: none;
}
#prim-nav .menu-close > li > .sub-menu {
  left: 200%;
}

body.menu-active #prim-nav {
  right: 0;
}

@media screen and (min-width: 820px) {
  #menubloc {
    position: absolute;
    right: 0;
    height: 100%;
    margin: auto;
    padding: 0 !important;
  }

  #prim-nav, #prim-nav.menu-active {
    border: 0;
    position: static;
    width: auto;
    height: 100%;
    overflow: visible;
    transition: none;
  }

  #prim-nav .nav-menu {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    height: 70px;
  }
  #prim-nav .nav-menu > li.menu-item-has-children > [itemprop=url]:after {
    transform: translateY(-50%) rotate(90deg);
  }
  #prim-nav .nav-menu > li > [itemprop=url] {
    border: 0;
  }
  #prim-nav .nav-menu li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }
  #prim-nav .nav-menu li [itemprop=url] {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px;
    max-width: 200px;
    height: 100%;
    background: #1247CE;
  }
  #prim-nav .nav-menu li.current-menu-item > [itemprop=url] {
    background: #FFF;
    color: #1247CE;
  }
  #prim-nav .nav-menu li [itemprop=url]:hover, #prim-nav .nav-menu li [itemprop=url]:focus, #prim-nav .nav-menu li.mhover > [itemprop=url], #prim-nav .nav-menu li:hover > [itemprop=url] {
    background: #fff;
    transition: background 0.2s ease-in;
  }
  #prim-nav .nav-menu li .sub-menu {
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    max-height: none;
    transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out visibility 0.2s 0s linear;
  }
  #prim-nav .nav-menu li .sub-menu li {
    width: 100%;
  }
  #prim-nav .nav-menu li .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }
  #prim-nav .nav-menu li:hover > .sub-menu, #prim-nav .nav-menu li.mhover > .sub-menu {
    opacity: 1;
    visibility: visible;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  clear: both;
  display: block;
  padding: 50px 20px;
  color: #FFF2E2;
  background-color: #0F205F;
}

.site-footer .contentFooter {
  margin-left: auto;
  margin-right: auto;
  max-width: 580px;
  justify-content: space-between;
  font-size: 0.875rem;
}
.site-footer .contentFooter h2 {
  color: #FFF2E2;
  font-size: 2rem;
  line-height: 2.1rem;
  margin-top: 0;
}
.site-footer .contentFooter p {
  line-height: 1.3125rem;
}
.site-footer .contentFooter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer .contentFooter ul li {
  margin: 8px 0;
}
.site-footer .contentFooter ul li a {
  color: #FFF2E2;
}

/* Archives */
.actualite {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.actualite #first {
  display: flex;
  flex-direction: column;
}
.actualite #first h2 {
  font-size: 50px;
  line-height: 60px;
}
.actualite article {
  width: inherit;
  display: flex;
}
.actualite article .side h2 {
  margin-top: 0;
}
.actualite article:nth-child(odd) {
  display: flex;
  flex-direction: row;
}
.actualite article:nth-child(odd) .side:first-child {
  margin-right: 30px;
}
.actualite article:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
.actualite article:nth-child(even) .side:first-child {
  margin-left: 30px;
}

/* posts */
.single-article .entry-content > .alignfull {
  background: #F8CB1C;
  margin-bottom: 10rem;
}
.single-article h1 {
  color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}
.single-article h2 {
  color: #5E6871;
  font-size: 5.5rem;
  line-height: 5.5rem;
  margin: 0;
}
.single-article .published-date {
  color: #AEB9C5;
  margin-bottom: 0;
  margin-top: 50px;
}
.single-article a {
  color: #1C72F2;
}
.single-article a:hover {
  text-decoration: underline;
}
.single-article .share ul {
  display: flex;
  margin-bottom: 45px;
  max-width: inherit;
}
.single-article .share ul li {
  padding-left: 32px;
  margin: 0;
  font-size: 1rem;
}
.single-article .share ul li a {
  color: #AEB9C5;
}
.single-article .share ul li:first-child {
  padding-left: 0px;
  font-weight: bold;
  color: #AEB9C5;
}
.single-article .share ul li:before {
  display: none;
}

@media screen and (max-width: 760px) {
  .single-article .share ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .single-article h1, .single-article h2 {
    font-size: 4rem;
  }
}
/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
body.page {
  background-color: #FFF2E2;
}

.entry-content ul {
  padding: 0;
}
.entry-content ul li {
  position: relative;
  list-style: none;
  padding-left: 32px;
  margin: 32px 0 32px 0;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #1247CE;
}
.entry-content ul li:before {
  content: ">";
  font-size: 1.25rem;
  color: #048667;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  padding: 10rem 0;
  background: #FFC93E;
}

.baseline {
  font-size: 2rem;
  line-height: 3rem;
  padding: 2rem 0 0 0;
}

.wp-block-button__link {
  padding: 16px;
  margin: 2rem 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: inline-block;
  border-bottom: none;
}
.wp-block-button__link:hover {
  border-bottom: none;
}

.entry-content p a {
  color: #1247CE;
}

.newsletter {
  background-color: #1247CE;
  display: flex;
  flex-flow: column;
  padding-bottom: 40px;
}
.newsletter h2 {
  color: #FFC93E;
  margin-top: 48px;
}
.newsletter h2.widgettitle {
  margin: 0;
}

/*
 * HOME
 ------------------------------------------------------------------------------*/
/* page 404 */
.error404 #primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #1c72f2;
}
.error404 #primary .page-title {
  color: white;
  font-size: 5em;
  margin: 0;
}
.error404 #primary .page-header .page-title, .error404 #primary .page-content p {
  margin: 0.5em 0;
}
.error404 #primary p {
  color: white;
  font-size: 1.5em;
}
.error404 #primary .search-form {
  display: flex;
}
.error404 #primary .screen-reader-text {
  display: none;
}
.error404 #primary .search-field {
  width: inherit;
  padding: 10px;
  font-size: 1em;
  line-height: 1.2em;
  min-width: 300px;
}
.error404 #primary .search-field::selection {
  background: #250E07;
}
.error404 #primary .search-submit {
  width: inherit;
  border: 7px solid #250E07;
  border-left: none;
}
.error404 #primary .search-submit:hover {
  background: white;
  color: #250E07;
}

@media screen and (max-width: 580px) {
  .error404 #primary .error-404 {
    padding: 0 20px;
  }
  .error404 #primary .search-form .search-field {
    padding: 5px;
    min-width: inherit;
  }
  .error404 #primary .page-header .page-title {
    color: white;
    font-size: 5em;
    margin: 0;
  }
}
.actualite {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.actualite #first {
  display: flex;
  flex-direction: column;
}
.actualite #first h2 {
  font-size: 50px;
  line-height: 60px;
}
.actualite article {
  width: inherit;
  display: flex;
}
.actualite article .side h2 {
  margin-top: 0;
}
.actualite article:nth-child(odd) {
  display: flex;
  flex-direction: row;
}
.actualite article:nth-child(odd) .side:first-child {
  margin-right: 30px;
}
.actualite article:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
.actualite article:nth-child(even) .side:first-child {
  margin-left: 30px;
}

.size-large {
  padding: 0;
  margin: 0;
}

.listBlocs {
  margin-left: -10px;
  margin-right: -10px;
}

.listBloc {
  padding: 10px;
}

.listLink {
  position: relative;
  display: block;
  background: #FFF;
  border: 0;
  height: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.listLink:hover .listContent h2, .listLink:focus .listContent h2 {
  color: #fff;
}
.listLink:hover .listVisuel:before, .listLink:focus .listVisuel:before, .listLink:hover .listVisuel:after, .listLink:focus .listVisuel:after {
  opacity: 1;
}

.listVisuel {
  position: relative;
}
.listVisuel:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  text-align: center;
  font-size: 4rem;
  color: #FFF;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.listVisuel:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.listContent {
  padding: 20px;
}
.listContent h2 {
  text-transform: none;
  color: #DF1326;
  transition: color 0.4s ease-in-out;
}

.listDate {
  display: inline-block;
  color: #FFF;
  background: #DF1326;
  padding: 0 10px;
  margin: 0 0 5px;
}

.readMore {
  font-style: italic;
  text-decoration: none;
  color: #DF1326;
  border-bottom: 1px #DF1326 dotted;
}
.readMore:hover, .readMore:focus, .readMore:active {
  outline: 0;
  text-decoration: none;
  border-bottom-style: solid;
}

@media only screen and (min-width: 520px) and (max-width: 820px) {
  .listBloc.grid33 {
    flex: 50%;
    max-width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */