/*
 * Fonts
 * ----------------------------------------------------------------------------*/
$font-base: 'poppinsregular', Helvetica, sans-serif;
$font-titre:'poppinsregular', Helvetica, sans-serif;
$font-btn:  'poppinsregular', Helvetica, sans-serif;
$font-menu: 'poppinsregular', Helvetica, sans-serif;

/*
 * Variables / tailles
 * ----------------------------------------------------------------------------*/
$typosize: 18x;
$typosize_mobile: 14px;
$header_height: 70px;
$header_height_mobile: 64px;

/*
 * Couleurs
 * ----------------------------------------------------------------------------*/
$firstColor: #DF1326; // Couleur principale du site : titre principal, fonds...
$secondColor: #fff; // Couleur secondaire du site : titres, menus...
$menuColor: #1247CE; // Couleur de fond du menu
$menuTextColor: #FFF; // Couleur de texte du menu

$bgColor: #FFF2E2; // Couleur de fond sur le site
$titre : #1247CE;

$jaune: #FFC93E;
$jauneFonce: #F3AC1E;
$beige: #FFF2E2;
$vert : #048667;

$textColor: #250E07; // Couleur par défaut des textes
$fondContenu: #F1F5F7;
$footerColor: #0F205F;

$cf7_valid: #68bb4c;
$cf7_error: #FF6666;

$adminColor: #002a37; // Bleu foncé
$adminColor2: #003f50; // Bleu plus clair
$adminColor3: #ffab37; // Orange

$color-body: #e2e2e2;
$color-text: #282828;
$color-menu: #fcfcfc;

//0,5 - 0,35 
$variable-menu-animation-time: 0.5s;
$variable-burger-animation-time: 0.70s;

$variable-menu-animation-function: cubic-bezier(0.25, 0.1, 0.25, 1);
$variable-burger-animation-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);